fastapi==0.111.1
uvicorn[standard]==0.23.2
sqlalchemy==2.0.20
pydantic==2.11.7
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
alembic==1.11.1
fastapi-mail
fastapi-limiter
redis
stripe
itsdangerous
python-multipart
python-jose[cryptography]
bcrypt<4
Pillow
psycopg2-binary

